.anime-title{
  font-size: 32px;
  font-weight: bold;
}

.anime-other-titles{
  font-size: 26px;
}

.anime-episodes{
  font-size: 20;
}

.anime-genre-title{
  font-size: 20;
}

@media screen and (max-width: 620px) {
  .details-image{
    display: flex;
    justify-content:center;
  }
}