.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 200px 0 15px 0;
}

.title{
  font-size: 66px;
  font-family: 'Righteous', cursive;
}

.subtitle{
  font-size: 24px;
}

.title:hover{
  color: rgb(48, 127, 245);
}